@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

.navbar-main {
    width: 100%;
    position: absolute;
    top: 20px;
}

.search-cart {
    display: flex;
    justify-content: flex-end;
    width: 33.33%;
    gap: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 33.33%;
}

.menu ul {
    gap: 20px;
    list-style: none;
    display: flex;
}

.logo {
    width: 33.33%;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;

}

.back-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.back-img {
    height: 600px;
}

.nav {
    color: black;
    font-weight: 600;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
    max-width: 100%;
    padding: 20px;
}

.banner h1 {
    padding: 20px 0;
    font-size: 75px;
    font-style: italic;
    font-family: "Cormorant Garamond", serif;
}

.banner p {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
}

.banner h5 {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
}

.banner-h1 {
    width: 70%;
    margin: 0 auto;
}

.nav-view {
    color: white;
    border: 1px solid white;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: small;
}

i {
    cursor: pointer;
    color: black;
}

.banner-p {
    width: 70%;
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    width: 25%;
    text-align: center;
    margin: 40px 0;
    padding: 0 10px;
    height: 300px;
}

.card img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: fill;
}

.card-text {
    text-align: center;
    padding-bottom: 10px;
    font-size: 34px;
    font-style: italic;
    font-weight: 700;

}

.card h5 {
    font-size: 10px;
    font-weight: 600;
    color: rgb(150, 148, 148);
}

.nav-card {
    font-size: 12px;
    font-weight: 600;
    color: black;
}

.card h4 {
    font-size: 11px;
    font-weight: 700;
    color: rgb(150, 148, 148);
}

.footer {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
}

.footer-ul {
    font-size: 12px;
}

.footer-nav {
    color: rgb(150, 148, 148);
}

hr {
    padding-top: 20px;
    margin-top: 20px;
}

.show-btn {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

button:hover {
    background-color: blue;
    color: white;
}

.nav-view:hover {
    background-color: #fff;
    color: black;
}

.showall {
    display: flex;
    justify-content: space-between;

}

.content {
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.heading-1 {
    width: 50%;
}

.heading-2 {
    width: 50%;
}

.heading-2 h4 {
    padding: 20px 0;
}

.sorting {
    margin: 20px 0;
}

.contact {
    margin: 30px 0;
}

.con {
    width: 60%;
    margin: 0 auto;
}

.con h3 {
    padding: 20px 0;
}

.con h5 {
    text-align: center;
}
.form-detail{
    display: flex;
}
.form-detail h5{
    display: flex;
    color: grey;
}

.form-right {
    width: 50%;
    line-height: 33px;
}
.right-1{
    display: flex;
    justify-content: space-between;
}

.form-left {
    width: 50%;
}

input[type="text"] {
    margin: 8px 0;
    width: 80%;
    height: 40px;
}
textarea {
    width: 80%;
    height: 140px;
}
.hr{
    margin: 20px 0;
    padding: 0;
}
.form{
    margin: 40px 0;
}
.follow h4{
    color: grey;
}

.right-3{
    display: flex;
    gap: 20px;
    align-items: center
}
.icons{
    display: flex;
    align-items: center;
    gap: 15px;
}
